<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SE_Factory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SE_Factory.Properties.Settings.LocalDB_Connection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB_Factory.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE_Factory.Properties.Settings.GCP_Connection" connectionString="server=34.65.242.38;user id=sa;password=aavesp19;persistsecurityinfo=True;database=DB_Factory;certificatefile=.\client-cert.pfx"
            providerName="MySql.Data.MySqlClient" />
        <add name="SE_Factory.Properties.Settings.OPEN_Connection" connectionString="Data Source=192.168.0.8\SQLEXPRESS;Initial Catalog=DYOPENG;Persist Security Info=True;User ID=sa;Password=aavesp19"
            providerName="System.Data.SqlClient" />
        <add name="SE_Factory.Properties.Settings.DB_FactoryConnectionString"
            connectionString="server=34.65.242.38;user id=sa;certificatefile=C:\Users\albmi\Desktop\CoDiNg\SE-Factory_MySql\Certificates\pfx\client-cert.pfx;database=DB_Factory;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SE_Factory.Properties.Settings>
            <setting name="IP_Printer" serializeAs="String">
                <value>192.168.000.107</value>
            </setting>
            <setting name="Path_URL_Documentazione" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_URL_Software" serializeAs="String">
                <value>\\192.168.0.8\Firmware\Motorola\Ufficio Collaudi\Sistemi</value>
            </setting>
            <setting name="Path_URL_Images" serializeAs="String">
                <value>D:\VS2017 - Projects\SE_Factory\Products_Images</value>
            </setting>
            <setting name="Path_URL_Commander" serializeAs="String">
                <value>C:\Commander</value>
            </setting>
            <setting name="IP_Printer_alwaysprint" serializeAs="String">
                <value>False</value>
            </setting>
        </SE_Factory.Properties.Settings>
    </userSettings>
</configuration>