<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SE_Factory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SE_Factory.Properties.Settings.LocalDB_Connection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB_Factory.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE_Factory.Properties.Settings.OPEN_Connection" connectionString="Data Source=192.168.0.8\SQLEXPRESS;Initial Catalog=DYOPENG;Persist Security Info=True;User ID=sa;Password=aavesp19"
            providerName="System.Data.SqlClient" />
        <add name="SE_Factory.Properties.Settings.DB_FactoryConnectionString"
            connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;sshhostname=10.99.1.1;sshpassword=2020_SM-user;sshport=22;sshusername=BeSt_Sistem;database=DB_Factory;password=BeSt_MYSQL1a"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SE_Factory.Properties.Settings>
            <setting name="IP_Printer" serializeAs="String">
                <value>192.168.000.107</value>
            </setting>
            <setting name="Path_URL_Documentazione" serializeAs="String">
                <value>http://sistematicaweb.it/files/SE_Factory/doc/</value>
            </setting>
            <setting name="Path_URL_Software" serializeAs="String">
                <value>http://sistematicaweb.it/files/SE_Factory/fw/</value>
            </setting>
            <setting name="Path_URL_Images" serializeAs="String">
                <value>http://sistematicaweb.it/files/SE_Factory/images/</value>
            </setting>
            <setting name="Path_URL_Commander" serializeAs="String">
                <value>C:\Commander</value>
            </setting>
            <setting name="IP_Printer_alwaysprint" serializeAs="String">
                <value>False</value>
            </setting>
        </SE_Factory.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>